In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/example')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
df.to_csv('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/My_Output') #basinda bosluk birakiyor
pd.read_csv('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/My_Output')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [8]:
df.to_csv('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/My_Output',index=False)
pd.read_csv('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/My_Output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [9]:
#pd.read_excel('Excel_Sample.xlsx')
pd.read_excel('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/levent.xlsx')

    a   b   c   d   e   f
0   1   2   3   4   5   6
1   7   8   9  10  11  12
2  13  14  15  16  17  18

In [10]:
df.to_excel('~/PycharmProjects/DataScience/Py_DS_ML_BootCamp/Bootcamp_Levent/Pandas/Data/Excel_Sample2.xlsx',sheet_name='NewSheet')

In [11]:
data = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [12]:
type(data)

list

In [13]:
data[0].head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,The Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.","May 31, 2019","August 22, 2019"
1,Washington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,"December 15, 2017","July 24, 2019"
2,The Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,"October 13, 2017","August 12, 2019"
3,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb","May 26, 2017","January 29, 2019"
4,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,"May 5, 2017","March 22, 2018"

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('sqlite:///:memory')

In [16]:
df.to_sql('my_table',engine)

ValueError: Table 'my_table' already exists.

In [17]:
sqldf = pd.read_sql('my_table',con=engine)
sqldf

   index   a   b   c   d
0      0   0   1   2   3
1      1   4   5   6   7
2      2   8   9  10  11
3      3  12  13  14  15